@import url('https://fonts.googleapis.com/css?family=PT+Sans|Poppins&display=swap');
* {
    font-family: 'Poppins', sans-serif, 'PT Sans', sans-serif, "HKGrotesk", Futura, Trebuchet MS, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1rem;
}
body {
    background: linear-gradient( 45deg, #579CDD, #ACCDEF);
    display: flex;
    align-items: right;
    justify-content: right;
   
}


.card-wrapper {

    background-color: #E9ECF3;
    margin: 5%;
    width: 40vw;
    height: 80vh;
    /* box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);  */
    border-radius: 4%;
    overflow: auto;
    overflow: hidden; 
    display: block;
    
}
.login-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-wrapper{
    width: 100%;
    /* background-color: red; */
    /* border: 1px solid red; */
    overflow: auto;
}

#login-form {
    width: 100%;
    padding: 10%;
    overflow: hidden; 
}
input {
    border: 1px solid green;
    padding: 2%;
    padding-left: 0%;
    margin: 3%;
    width: 60%;
}




input[type="text"],input[type="email"],input[type="password"], select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  border-bottom-width: 100%;
  box-shadow: none;
  border-radius: 0;
}

#login-button {
    padding: 2%;
    padding-left: 0%;
    margin: 3%;
    width: 60%;
    border-radius: 20px;
}

button > image {
    height: 1%;
}