body {
    background-color: #E9ECF3;
}
.wrapper {
    display: flex;
    align-items: stretch;
}



#sidebar.active {
    margin-left: -250px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    /* border: 2px solid black; */
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3); 
}



.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    /* background: #7386D5; */
    /* background:  #579CDD; */
    background: linear-gradient( #579CDD, #ACCDEF);
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    /* background: #3046aa; */
    /* background:  #ACCDEF; */
    padding-left: 10%;
}

#sidebar ul.components {
    padding: 20px 0;
    padding-left: 4%;

}


#sidebar ul li a {
    width: 100%;
    padding: 7% 5%;
    margin: 5% 0%;
    font-size: 1.1em;
    display: block;  
    word-spacing:10px;
 
}
#sidebar ul li a:hover {
    /* color: #7386D5; */
    color: #fff;
    background: rgb(88, 142, 196);
    margin-right: 4%;
}

#sidebar ul li.active > a {
    color: #fff;
    background: rgb(88, 142, 196);
    margin-right: 4%;
}

#sidebar li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content {
    width: 100%;
    margin: 2% 4%;
}

.content-header{
    width: 100%;
}

.user {
    /* display: flex; */
    /* margin-left: auto; */
    float: right;
}
.fa-user-graduate {
    color: black;
    font-size: 2rem;
}